@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-pixel: #eca749;
    --color-pixel-light: #eeeeee;
    --color-pixel-dark: #090909;
    --font-pixel: 'Departure Mono', monospace;
    --default-font-family: var(--font-pixel);
}

@layer base {
    *:focus-visible {
        outline: 2px solid var(--color-pixel);
    }

    @font-face {
        font-family: 'Departure Mono';
        src: url('../../public/fonts/DepartureMono-Regular.woff2') format('woff2'),
        url('../../public/fonts/DepartureMono-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
